In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
import pandas as pd
import technical_analysis.backtest_kz as bt
from data_pipelines.data_manipulation import DataManipulation
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter(action = 'ignore', category = pd.errors.PerformanceWarning)
%matplotlib inline

SYMBOL = 'BTC-USD'
scale = 1
range_list = [5, 10, 15, 20, 25]
range_list = [i*scale for i in range_list]
period = 'max'
interval = '1d'
start_date = ''
end_data = ''
source = 'yahoo'

data = DataManipulation(SYMBOL, source, range_list, period=period, interval=interval, scale=scale, prefix_path='..', saved_to_csv=True)

[*********************100%***********************]  1 of 1 completed
Start TA-LIB module
created indicators columns with TA-LIB

In [2]:
df = data.df.copy()
#bt.bt_plot_indicators(df, "Bitcoin")
df.tail()

,ad,adj_close,adx_10,adx_15,adx_20,adx_25,adx_5,atrr_10,atrr_15,atrr_20,...,willr_20,willr_25,willr_5,wma_10,wma_15,wma_20,wma_25,wma_5,d_r,feature_label
Datetime,,,,,,,,,,,,,,,,,,,,,
2022-11-11,4008694397701.8281,17034.2930,38.3766,25.8519,18.9662,15.0304,60.8759,1112.2090,952.9843,876.2907,...,-76.5518,-76.5518,-74.8331,18597.4597,19152.2335,19444.4583,19548.2367,17389.7501,-0.0314,0.0000
2022-11-12,4000093529280.0049,16799.1855,40.9146,27.5762,20.1921,15.9334,65.1621,1042.4781,917.1121,853.2212,...,-80.6305,-80.6305,-77.5891,18136.0056,18782.1125,19156.4426,19325.4805,17013.0831,-0.0138,0.0000
2022-11-13,3975852262752.4209,16353.3652,43.4545,29.3523,21.4737,16.8860,69.0698,998.2434,895.9800,840.5667,...,-88.3648,-88.3648,-76.9351,17654.5899,18387.8986,18839.1478,19076.2313,16741.3847,-0.0265,1.0000
2022-11-14,3986053531424.9194,16618.1992,46.0631,31.2228,22.8420,17.9119,72.7653,1022.0573,918.6735,860.3575,...,-83.7704,-83.7704,-64.6812,17291.4463,18063.9982,18561.3239,18855.9267,16703.8247,0.0162,1.0000
2022-11-15,3998606027082.3599,16884.6133,48.4108,32.9686,24.1419,18.8968,75.7218,970.7928,891.3894,842.8102,...,-79.1485,-79.1485,-43.1006,17059.0876,17806.8779,18325.4331,18663.6094,16705.9082,0.0160,0.0000

In [3]:
extracted_df = data.extract_features()

In [4]:
extracted_df.tail()

,st_stoch,st_ich,st_cut_ema5_sma10,st_macd,st_ich_close,st_dmi,st_cut_sma10_close,st_hisse,st_mfi,st_fishert,...,lag_1,lag_2,lag_3,lag_4,lag_5,lag_6,lag_7,lag_8,d_r,feature_label
Datetime,,,,,,,,,,,,,,,,,,,,,
2022-11-10,1,0,0,0,0,0,1,0,0.6667,0.6667,...,0,0,0,0,1,1,1,0,0.1074,0.0000
2022-11-11,1,0,0,0,0,0,1,0,0.6667,0.6667,...,1,0,0,0,0,1,1,1,-0.0314,0.0000
2022-11-12,0,0,0,0,0,0,1,0,0.6667,0.6667,...,0,1,0,0,0,0,1,1,-0.0138,0.0000
2022-11-13,0,0,0,0,0,0,1,0,0.3333,0.6667,...,0,0,1,0,0,0,0,1,-0.0265,1.0000
2022-11-14,1,0,0,0,0,0,1,0,0.6667,0.3333,...,0,0,0,1,0,0,0,0,0.0162,1.0000