In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
import pandas as pd
import technical_analysis.backtest_kz as bt
from data_pipelines.data_manipulation import DataManipulation
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter(action = 'ignore', category = pd.errors.PerformanceWarning)
%matplotlib inline

SYMBOL = 'ETH-USD'
scale = 1
range_list = [5, 10, 15, 20, 25, 30]
range_list = [i*scale for i in range_list]
period = '6mo'
interval = '1h'
start_date = ''
end_data = ''
source = 'yahoo'

data = DataManipulation(SYMBOL, source, range_list, period=period, interval=interval, scale=scale, prefix_path='..', saved_to_csv=True)

[*********************100%***********************]  1 of 1 completed
Start Pandas_ta module
created indicators columns with Pandas_ta

In [2]:
df = data.df.copy()
#bt.bt_plot_indicators(df, "Bitcoin")
df.tail()

,ad,adj_close,adx_10,adx_15,adx_20,adx_25,adx_30,adx_5,atrr_10,atrr_15,...,willr_30,willr_5,wma_10,wma_15,wma_20,wma_25,wma_30,wma_5,d_r,feature_label
Datetime,,,,,,,,,,,,,,,,,,,,,
2022-11-12 17:00:00+00:00,75462869333.6102,1271.8677,12.5216,10.6645,11.1081,12.1179,13.6000,24.3910,11.0474,13.4594,...,-33.0816,-31.6545,1268.4479,1266.2585,1265.9803,1266.1444,1266.0259,1271.5620,0.0011,0.0000
2022-11-12 18:00:00+00:00,75460188647.5195,1268.1873,11.3164,10.2016,10.8165,11.8943,13.4057,21.3150,10.4930,12.9290,...,-37.1499,-53.5860,1268.8399,1266.8608,1266.0929,1266.2758,1266.1348,1270.7104,-0.0029,1.0000
2022-11-12 19:00:00+00:00,75458690195.9060,1267.0398,10.3103,9.8238,10.5641,11.6932,13.2264,17.6068,9.7465,12.2690,...,-28.6577,-89.6349,1268.8958,1267.2458,1266.1434,1266.3325,1266.2095,1269.1927,-0.0009,0.0000
2022-11-12 20:00:00+00:00,75456271507.9060,1265.7891,9.4120,9.4734,10.3253,11.5007,13.0534,14.5851,8.9602,11.5766,...,-45.4365,-100.0000,1268.6276,1267.4154,1266.1760,1266.2810,1266.2411,1267.7276,-0.0010,0.0000
2022-11-12 20:29:00+00:00,75456271507.9060,1265.7491,8.6144,9.1495,10.0999,11.3167,12.8867,12.0723,8.0681,10.8075,...,-45.5133,-100.0000,1268.2525,1267.3960,1266.2376,1266.2405,1266.2498,1266.7509,-0.0000,0.0000

In [3]:
pure_df = data.get_symbol_df('BTC-USD', pure=True)
pure_df.head()

,open,high,low,close,adj_close,volume
Datetime,,,,,,
2022-05-12 20:00:00+00:00,28687.6016,28800.5273,28519.8379,28614.2207,28614.2207,0
2022-05-12 21:00:00+00:00,28613.8027,28613.8027,28031.7793,28399.2207,28399.2207,0
2022-05-12 22:00:00+00:00,28400.6699,28645.5527,28369.6484,28596.6953,28596.6953,0
2022-05-12 23:00:00+00:00,28636.8711,29181.0586,28636.8711,29063.3164,29063.3164,571346944
2022-05-13 00:00:00+00:00,29030.9102,29428.4102,28782.3301,29428.4102,29428.4102,189100032

In [4]:
from technical_analysis.indicators import Indicators
ind = Indicators(pure_df, range_list)
ind.create_ind_cols_ta()
test = ind.df
test.tail()

,open,high,low,close,adj_close,volume,SMA_5,lowband_5,midband_5,upband_5,...,stoch_d,ich_kline,ich_tline,FISHERT_9_1,FISHERTs_9_1,AD,OBV,candle_label,candlestick_pattern,log_rt
Datetime,,,,,,,,,,,,,,,,,,,,,
2022-11-12 17:00:00+00:00,16884.2617,16893.0684,16864.3477,16881.6699,16881.6699,21573632,16878.1809,16820.4288,16878.1809,16935.9330,...,92.7694,16848.3740,16870.5723,1.5733,1.7482,27536103642.1287,22272223232.0000,0,NO_PATTERN,-0.0001
2022-11-12 18:00:00+00:00,16881.5645,16883.9375,16834.6367,16855.2754,16855.2754,11829248,16883.7906,16844.3941,16883.7906,16923.1871,...,87.6953,16848.3740,16870.5723,1.1640,1.5733,27534178495.5165,22260393984.0000,0,NO_PATTERN,-0.0016
2022-11-12 19:00:00+00:00,16857.8652,16879.9531,16844.2520,16871.0000,16871.0000,1525760,16881.5484,16840.7948,16881.5484,16922.3021,...,80.9888,16848.3740,16870.5723,0.8014,1.1640,27534938996.6030,22261919744.0000,0,NO_PATTERN,0.0009
2022-11-12 20:00:00+00:00,16873.0527,16875.7285,16860.1523,16860.3867,16860.3867,0,16870.1789,16848.1958,16870.1789,16892.1620,...,72.9963,16848.3740,16870.5723,0.5596,0.8014,27534938996.6030,22261919744.0000,0,NO_PATTERN,-0.0006
2022-11-12 20:28:00+00:00,16855.2793,16855.2793,16855.2793,16855.2793,16855.2793,0,16864.7223,16844.2510,16864.7223,16885.1936,...,64.5384,16848.3740,16870.5723,0.3148,0.5596,27534938996.6030,22261919744.0000,0,NO_PATTERN,-0.0003

In [5]:
test.shape, df.shape
test.columns = test.columns.str.lower()
for i in test.columns.to_list():
    if i not in df.columns.to_list():
        print(i)